* {box-sizing: border-box;}

:root {
    --white: #fff;
    --black: #000;
    --bg: #f8f8f8;
    --grey: #999;
    --dark: #1a1a1a;
    --light: #e6e6e6;
    --wrapper: 1000px;
    --blue: #00b0ff;
}
body {background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.container {
    width: 80%;
    height: 90%;
    z-index: 999;
    position: fixed;
    top: 5%;
    left: 10%;
    background-color: white;
    opacity: 0.7;
}
.write {
    position: absolute;
    bottom: 29px;
    left: 30px;
    height: 42px;
    padding-left: 8px;
    border: 1px solid var(--light);
    background-color: #eceff1;
    width: calc(100% - 58px);
    border-radius: 5px;
}
.write input {
    font-size: 16px;
    float: left;
    width: 330px;
    height: 40px;
    padding: 0 10px;
    color: var(--dark);
    border: 0;
    outline: none;
    background-color: #eceff1;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.write-link.attach:before {
    display: inline-block;
    float: left;
    width: 20px;
    height: 42px;
    content: '';
    background-image: url("img/attachment.png");
    background-repeat: no-repeat;
    background-position: center;
}
.write-link.smiley:before {
    display: inline-block;
    float: right;
    width: 20px;
    height: 42px;
    margin-right: 25px;
    content: '';
    background-image: url("img/smiley.png");
    background-repeat: no-repeat;
    background-position: center;
}
.write-link.send:before {
    display: inline-block;
    float: right;
    width: 20px;
    height: 42px;
    margin-right: 11px;
    content: '';
    background-image: url("img/send.png");
    background-repeat: no-repeat;
    background-position: center;
}
.inup {
    display: block;
    text-align: right;
    margin-top: -20px;
}
.inup img {
    width: 20px;
}

.chat, #box {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 80%;
}
.bubble {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 5px;
}
.bubble:before {
    position: absolute;
    top: 19px;
    display: block;
    width: 8px;
    height: 6px;
    content: '\00a0';
    -webkit-transform: rotate(29deg) skew(-35deg);
            transform: rotate(29deg) skew(-35deg);
}
.bubble {
    float: left;
    color: var(--white);
    background-color: var(--blue);
    align-self: flex-start;
    -webkit-animation-name: slideFromLeft;
            animation-name: slideFromLeft;
}
.bubble:before {
    left: -3px;
    background-color: var(--blue);
}

.popup {
    opacity: 0.9;
    width: 50%;
    height: 50%;
    position: fixed;
    top: 25%;
    left: 25%;
    border-radius: 10px;
    z-index: 999999;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
    box-shadow: 0 0 10px #27273c;
    text-align: center;
}
.popup input {
    width: 80%;
    margin: 10% 20px 20px 20px;
    border: 1px solid var(--light);
    background-color: #eceff1;
    padding: 5px 10px;
    color: var(--dark);
    outline: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.popup button {
    cursor: pointer;
    width: 40%;
    margin: 20px auto;
    border: 1px solid var(--light);
    background-color: #8f4285;
    color: white;
    padding: 5px 10px;
    outline: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    transition: 1s;
}
.popup button:hover {
    background-color: #5e2756;
    box-shadow: 0 0 10px #27273c;
}
.popup h4 {
    margin-top: 20%;
    display: block;
    color: white;
}
.chat::-webkit-scrollbar {
	width:7px;
	transitions: 2s;
}
.chat::-webkit-scrollbar-track:hover {
    background-color:#f4f4f4;
}
.chat::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:7px;
}
.chat::-webkit-scrollbar-thumb:hover {
    background-color: black;
    opacity: 0.7;
    border:4px solid #f4f4f4;
}
.chat::-webkit-scrollbar-button {display:none}
.top {
    width: 100%;
    padding: 15px;
    background-color: rgba(104, 57, 214, 0.253);
}
h4, h3 {
    display: inline;
    font-family: 'Nanum Gothic', sans-serif;
}
#nameup, #codeup {
    display: none;
}
#top a {
    width: 30px;
    position: fixed;
}
.inup {
    right: 15%;
}
